:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headlings: #1b0760;
    --color-body: #918ca4;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.2rem;
}


         /* TYPOGRAPHY */


h1,
h2,
h3 {
    color: var(--color-headlings);
    margin: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 1rem;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 8rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}


          /* LINKS */

a {
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow {
    color: var(--color-accent);
    text-decoration: none;
    text-transform: uppercase;
}

.link-arrow::after {
    content: "-->";
    margin-left: 6px;
    transition: margin-left 0.4s;
}

.link-arrow:hover::after {
    margin-left: 12px; 
}


@media screen and (min-width: 1024px) {
    a {
        font-size: 1.5rem;
    }
}

        /* BADGES */

        /*CLICLABLE BADGE*/

.badge-container {
    color: var(--color-headlings);
    display: inline-flex;
    text-align: center;
    margin: 0 0.8rem;
    padding: 1rem 3.2rem;
    border-radius: 3rem;
    font-size: 2rem;
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
    font-weight: bold;
}

.hidden-checkbox {
    display: none;
}


.badge-container:hover,
.badge-text:hover {
    cursor: pointer;
}

.badge-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.466);
}

.hidden-checkbox:checked + .badge-container {
    background-color: var(--color-secondary);
    color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.466);
}

@media screen and (min-width: 1024px) {
    .badge-container {
        font-size: 1.5rem;
        padding: 0.8rem 2.8rem;
    }
}

        /* STATIC BADGE */
        /*Light BLUE  and Dark BLUE*/

.static-badge {
    display: inline-flex;  
    font-size: 1.6rem;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: 3rem;
    font-weight: bold;
}

.light-blue {
    background-color: var(--color-secondary);
}

.dark-blue {
    background-color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    .static-badge {
        font-size: 1.2rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}