:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headlings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 3rem;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.2rem;
}


         /* TYPOGRAPHY */


h1,
h2,
h3 {
    color: var(--color-headlings);
    margin: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 1rem;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 8rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}


          /* LINKS */

a {
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow {
    color: var(--color-accent);
    text-decoration: none;
    text-transform: uppercase;
}

.link-arrow::after {
    content: "-->";
    margin-left: 6px;
    transition: margin-left 0.4s;
}

.link-arrow:hover::after {
    margin-left: 12px; 
}


@media screen and (min-width: 1024px) {
    a {
        font-size: 1.5rem;
    }
}

        /* BADGES */

        /*CLICLABLE BADGE*/

.badge-container {
    color: var(--color-headlings);
    display: inline-flex;
    text-align: center;
    margin: 0 0.8rem;
    padding: 1rem 3.2rem;
    border-radius: var(--border-radius);
    font-size: 2rem;
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
    font-weight: bold;
}

.hidden-checkbox {
    display: none;
}


.badge-container:hover,
.badge-text:hover {
    cursor: pointer;
}

.badge-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.466);
}

.hidden-checkbox:checked + .badge-container {
    background-color: var(--color-secondary);
    color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.466);
}

@media screen and (min-width: 1024px) {
    .badge-container {
        font-size: 1.5rem;
        padding: 0.8rem 2.8rem;
    }
}

        /* STATIC BADGE */
        /*Light BLUE  and Dark BLUE*/

.static-badge {
    display: inline-flex;  
    font-size: 1.6rem;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.light-blue {
    background-color: var(--color-secondary);
}

.dark-blue {
    background-color: var(--color-primary);
}

.plan .dark-blue {
    background-color: #1d66c5;
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
}

.plan .light-blue {
    background-color: #009ab5;
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
}

@media screen and (min-width: 1024px) {
    .static-badge {
        font-size: 1.2rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}


        /* LISTS */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headlings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 2rem;
}

.list--tick{
    list-style-image: url("../images/Icons/tick.svg");
    padding-left: 3rem;
}

.list--tick .list__item{
    padding-left: 1.3rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    font-weight: 400;
}


@media screen and (min-width: 1024px) {
    .list--inline .list__item {
        font-size: 1.5rem;
    }
    
    .list--tick .list__item {
        margin-bottom: 2rem;
        padding-left: 0rem;
        font-size: 1.7rem;
    }
}


        /* ICONS */

.icon {
    width: 4.2rem;
    height: 4.2rem;
}

.icon--primary {
    fill: var(--color-primary);
}

.circle-icon {
    display: inline-flex;
    border-radius: var(--border-radius);
    width: 9rem;
    height: 9rem;
    justify-content: center;
    align-items: center;
    background-color: #e3e5e5;
}

.circle-icon .icon {
    width: 5rem;
    height: 5rem;
}

@media screen and (min-width: 1024px) {
    .circle-icon {
        width: 6.7rem;
        height: 6.7rem;
    }

    .circle-icon .icon {
        width: 4rem;
        height: 4rem;
    }
}

        /* BUTTONS */

.btn {
    font-size: 1.8rem;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem 0;
    padding: 2rem 3rem;
    white-space: nowrap;
}

.btn--accent {
    background-color: var(--color-accent);
    color: white;
}

.btn--primary {
    background-color: white;
    color: black;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: white;
}

.btn--outline {
    background-color: white;
    color: var(--color-headlings);
    border: 2px solid var(--color-headlings);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--accent:hover {
    background-color: #9a1f00;
}

.btn--primary:hover {
    background-color: var(--color-primary);
    color: white;
}

.btn--secondary:hover {
    background-color: #0098b3;
}

.btn--outline:hover {
    background-color: var(--color-headlings);
    color: white;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

        /* TEXT INPUT */

.input {
    font-size: 2rem;
    color: var(--color-border);
    outline: 0;
    border-radius: var(--border-radius);
    padding: 1.5rem 3.5rem;
}

        /* TEXT INPUT with the BUTTON */

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem;
}

.input-group .btn {
    margin: 0.4rem;
}


@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
    
}

        /* CARD BODY */

.card {
    box-shadow: 0 0 1rem 1rem var(--color-border);
    border-radius: 0.7rem;
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--color-primary);
    color: white;
}

.card--secondary .card__header {
    background-color: var(--color-secondary);
    color: white;
}


        /* PLAN CARD */

.plan__name {
    font-size: 2.4rem;
    margin-left: 0;
    padding-bottom: 1rem;
    color: white;
    font-weight: 500;
    
}

.plan__price {
    
    font-size: 6rem;
}

.plan__bill--cycle {
    color: rgba(255, 255, 255, 0.80);
    font-size: 2.4rem;
    margin-right: 1rem;
    font-weight: 300;
}

.plan .plan__description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    padding-top: 3rem;
    display: block;
}

.plan .list--tick li{
    padding-left: 0.1rem;
}

.badge--popular .card__header {
    position: relative;
}

.badge--popular .card__header::before {
    content: url("../images/popular.svg");
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%
}

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__bill--cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}

        /* MEDIA */


.media-container {
    display: flex;
}

.media-image {
    margin-right: 2rem;
    margin-top: 1rem
}

.media-header {
    display: inline-block;
    margin: 0;
    font-size: 2.4rem;
}

.media-content {
    font-size: 2rem;
    margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
    .media-body .media-header,
    .media-body .media-content {
        font-size: 1.8rem;
    }
}


        /* QUOTE */

.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 3.7rem;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    padding-top: 1rem;
    font-size: 3rem;
}

.quote__company {
    margin-top: 0;
    font-size: 2rem;
    color: var(--color-body);
    opacity: 0.5;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2.4rem;    
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__company {
        font-size: 1.6rem;
    }
}