:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headlings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 3rem;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.2rem;
}


         /* TYPOGRAPHY */


h1,
h2,
h3 {
    color: var(--color-headlings);
    margin: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 1rem;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 8rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}


          /* LINKS */

a {
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow {
    color: var(--color-accent);
    text-decoration: none;
    text-transform: uppercase;
}

.link-arrow::after {
    content: "-->";
    margin-left: 6px;
    transition: margin-left 0.4s;
}

.link-arrow:hover::after {
    margin-left: 12px; 
}


@media screen and (min-width: 1024px) {
    a {
        font-size: 1.5rem;
    }
}

        /* BADGES */

        /*CLICLABLE BADGE*/

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

        /* STATIC BADGE */
        /*Light BLUE  and Dark BLUE*/

.static-badge {
    display: inline-flex;  
    font-size: 1.6rem;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.light-blue {
    background-color: var(--color-secondary);
}

.card--primary .dark-blue{
    background: #126de4;
}

.card--secondary .light-blue{
    background: #00afce;
}

.dark-blue {
    background-color: var(--color-primary);
}

.plan .dark-blue {
    background-color: #1d66c5;
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
}

.plan .light-blue {
    background-color: #009ab5;
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
}

@media screen and (min-width: 1024px) {
    .static-badge {
        font-size: 1.2rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}


        /* LISTS */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headlings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 2rem;
}

.list--tick{
    list-style-image: url("../images/Icons/tick.svg");
    padding-left: 3rem;
}

.list--tick .list__item{
    padding-left: 1.3rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    font-weight: 400;
}


@media screen and (min-width: 1024px) {
    .list--inline .list__item {
        font-size: 1.5rem;
    }
    
    .list--tick .list__item {
        margin-bottom: 2rem;
        padding-left: 0rem;
        font-size: 1.7rem;
    }
}


        /* ICONS */

.icon {
    width: 4.2rem;
    height: 4.2rem;
}

.icon--small {
    width: 3rem;
    height: 3rem;
}

.icon--white {
    fill: white;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--accent {
    fill: white;
}

.circle-icon {
    display: inline-flex;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    justify-content: center;
    align-items: center;
    background-color: #e3e5e5;
}

.circle-icon-accent {
    display: inline-flex;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
}

.circle-icon .icon {
    width: 5rem;
    height: 5rem;
}

@media screen and (min-width: 1024px) {
    .circle-icon {
        width: 6.7rem;
        height: 6.7rem;
    }

    .circle-icon .icon {
        width: 4rem;
        height: 4rem;
    }
}

        /* BUTTONS */

.btn {
    font-size: 1.8rem;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem 0;
    padding: 2rem 3rem;
    white-space: nowrap;
}

.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.btn--accent {
    background-color: var(--color-accent);
    color: white;
}

.btn--primary {
    background-color: white;
    color: black;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: white;
}

.btn--outline {
    background-color: white;
    color: var(--color-headlings);
    border: 2px solid var(--color-headlings);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--accent:hover {
    background-color: #9a1f00;
}

.btn--primary:hover {
    background-color: var(--color-primary);
    color: white;
}

.btn--secondary:hover {
    background-color: #0098b3;
}

.btn--outline:hover {
    background-color: var(--color-headlings);
    color: white;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

        /* TEXT INPUT */

.input {
    font-size: 2rem;
    color: var(--color-border);
    outline: 0;
    border-radius: var(--border-radius);
    padding: 1.5rem 3.5rem;
}

        /* TEXT INPUT with the BUTTON */

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
}

.input-group .btn {
    margin: 0.4rem;
}


@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
    
}

        /* CARD BODY */

.card {
    box-shadow: 0 0 5rem 0.4rem #00000025;
    border-radius: 0.7rem;
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--color-primary);
    color: white;
}

.card--secondary .card__header {
    background-color: var(--color-secondary);
    color: white;
}


        /* PLAN CARD */



.plan .plan__container {
    transition: all 0.3s;
}

.plan__name {
    font-size: 2.4rem;
    margin-left: 0;
    padding-bottom: 1rem;
    color: white;
    font-weight: 500;
    
}

.plan__price {
    
    font-size: 6rem;
}

.plan__bill--cycle {
    color: rgba(255, 255, 255, 0.80);
    font-size: 2.4rem;
    margin-right: 1rem;
    font-weight: 300;
}

.plan .plan__description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    padding-top: 3rem;
    display: block;
}

.plan .list--tick li{
    padding-left: 0.1rem;
}

.badge--popular .card__header {
    position: relative;
}

.badge--popular .card__header::before {
    content: url("../images/popular.svg");
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%
}

@media screen and (min-width: 1024px) {

    .plan {
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: repeat(1 , 1fr);
        max-width: 1140px;
        height: 500px;
        column-gap: 4rem;
        margin: 3rem auto;
    }

    .plan .plan__container:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__bill--cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}

        /* MEDIA */


.media-container {
    display: flex;
}

.media-image {
    margin-right: 2rem;
    margin-top: 1rem
}

.media-header {
    display: inline-block;
    margin: 0;
    font-size: 2.4rem;
}

.media-content {
    font-size: 2rem;
    margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
    .media-body .media-header,
    .media-body .media-content {
        font-size: 1.8rem;
    }
}


        /* QUOTE */

.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 3.7rem;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    padding-top: 1rem;
    font-size: 3rem;
}

.quote__company {
    margin-top: 0;
    font-size: 2rem;
    color: var(--color-body);
    opacity: 0.5;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2.4rem;    
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__company {
        font-size: 1.6rem;
    }
}

        /* GRID */

.grid {
    display: grid;
}


@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}


        /* QUOTE GRID */

.testimonial {
    padding: 3rem;
    margin: 3rem auto;
    max-width: 1140px;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > img {
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
}

.testimonial__image > .circle-icon-accent {
    position: absolute;
    top: 4rem;
    right: -1rem;
}

@media screen and (min-width: 768px) {
    .testimonial .quote__text {
        font-size: 2.4rem;
    }

    .testimonial .quote__author {
        font-size: 2.4rem;
    }

    .testimonial .quote__company {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial .quote__text {
        font-size: 3rem;
    }

    .testimonial .quote__author {
        font-size: 3rem;
    }

    .testimonial .quote__company {
        font-size: 2rem;
        
    }
    
}


        /* CALLOUT */

.callout {
    background-color: var(--color-primary);
    color: white;
    padding: 3rem;
    border-radius: 1rem;
    /*temp*/ margin: 3rem;
}

.callout__header {
    text-align: center;
}

.callout h2 {
    color: white;
    font-size: 4rem;
}

.callout p {
    font-size: 2.4rem;
}

.callout .callout__button {
    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout__header {
        text-align: left;
    }

    .callout__button {
        justify-self: start;
        margin: 0 2rem;
    }
}


        /* COLLAPSIBLE */

.collapsible {
    padding: 1rem;
    line-height: 2rem;
    
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
    
}

.collapsible__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.collapsible__icon {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__icon:hover {
    cursor: pointer;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__icon {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    display: block;
    max-height: 100vh;
    opacity: 1;
}


        /* BLOCK */

.block {
    --padding-vertical: 6rem;
   padding: var(--padding-vertical) 2rem;

}

.block__header {
    text-align: center;
}

.block__heading {
    margin-top: 0;
}

.dark--block {
    background-color: #000;
    color: white;

}

.dark--block .block__heading {
    color: #fff;
}


.block-left-skew {
    padding-bottom: calc(var(--padding-vertical) + 7rem);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

.block-right-skew {
    padding-bottom: calc(var(--padding-vertical) + 7rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


   /* NAV BAR */

.nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav__list {
    margin: 0;
    width: 100%;
}

.nav__items a{
    text-decoration: none;
    color: var(--color-border);
    transition: color 0.3s;
}

.nav__items a:hover{
    text-decoration: none;
    color: white;
    
}

.nav__items {
    border-bottom: 0px solid #222;
    padding: 1rem 2rem;
}

.logo {
    width: 20rem;
}

.nav__toggler {
    margin: 2rem;
    opacity: 0.5;
    transition: all 0.3s;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .nav__toggler{
        display: none;
    }

    .nav .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__items {
        border: 0;
    }
}

        /* STARTER PAGE CONTAINER */

.starter {
    text-align: center;
    padding: 3rem;
    
}

.starter__main .starter__heading{
    color: white;
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
}

.starter__main p {
    color: white;
    opacity: 0.5;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin: 4rem 0;
}

.starter .starter__main .starter__btn {
    max-width: 30rem;
}

.starter__image {
    width: 100%;
    padding-bottom: 10rem;
}

@media screen and (min-width: 768px) {
    .starter__1st {
        align-content: center;

    }

    .starter__main {
        max-width: 1140px;
        margin: 0 auto;
        text-align: start;
    }

    .starter__1st .starter__btn {
        width: 19.1rem;
        height: 6rem;
    }
}


        /* 2nd COMPONENT with the search BAR */

.domain {
    text-align: center;
}

.domain .domain__heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.domain p{
    margin-bottom: 4rem;
}

.domain .input-group {
    border: 0;
    box-shadow: 0 0 1rem 1rem #00000013;
    min-width: 592px;
}


.domain__list{
    color: var(--color-headlings);
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, 6rem);
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    justify-items: center;
    align-items: center;
    margin: 2rem auto;
    
}

.domain__list li{
    justify-content: center;
    align-content: center;
    font-weight: bold;
}


.domain .domain__list__items label{
    margin-right: 3rem;
}


@media screen and (min-width: 1024px) {
    .domain__list {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(6, 1fr);
        font-size: 1.5rem;
        justify-content: space-between;
        text-wrap: nowrap;
        max-width: 800px;
    }

    .domain .input-group {
        max-width: 650px;
        margin: 0 auto 7rem auto;
    }

}



        /* BLOCK PLANS */

.block-plan .grid {
    gap: 4rem;
    justify-content: center;
}

.block-plan .card {
    max-width: 500px;
}

.block-plan .card--primary {
    transition: all 0.3s;
}

.block-plan .card--secondary {
    transition: all 0.3s;
}


@media screen and (min-width: 1024px) {
    .block-plan .card--primary {
        transform: scale(1.1);
    }

    .block-plan .card--secondary:hover {
        transform: scale(1.1);
    }

    .block-plan .card--primary:hover {
        transform: scale(1.2);
    }
}


        /* FEATURES BLOCK */

.features {
    margin: 5rem auto;
    max-width: 570px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.features .circle-icon {
    max-width: 7.6rem;
    max-height: 7.6rem;
}

.features .features__heading {
    margin-left: 0;
    font-weight: bold;
}

.features p {
    margin: 1rem auto 2rem auto;
}

.features .grid {
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 4rem;
}

.features .features__image {
    width: 100%;
}

.features .features__info {
    width: 100%;
}

.features .features__header {

}




@media screen and (min-width: 768px) {
    .features .grid--1x2 {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    .features {
        max-width: 1140px;
    }

    .features .grid--1x2:nth-child(even) {
        flex-direction: row-reverse;
    }
}

        /* CONTROL PANEL BLOCK */

.starter.media-section {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.starter .media-section__container {
    max-width: 1140px;
    margin: 0 auto;
}

.grid-second {
    display: grid;
}

.article h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    
}

.media-section .media-header {
    color: #fff;   
}

.media-section .media-body {
    text-align: left;
}

.media-section .media-body p {
    color: #666666;
}

.media-section .media-container {
    padding: 2rem;
}

.media-section .media-panel {
    padding-bottom: 10rem;
    align-content: center;
}

.media-section .grid picture {
    min-width: 570px;
}

@media screen and (min-width: 1024px) {
    .grid-second {
        grid-template-columns: repeat(2, 1fr);
    }

    .media-section .media-panel {
        padding-bottom: 0;
    }
}



