<section class="starter block dark--block block-right-skew media-section">
    <div class="media-section__container">
        <article class="article">
            <h2>User-Friendly Control Panel</h2>
        </article>
        <div class="grid grid--1x2">
            <picture>
                <source type="image/webp" srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x">
                <source type="image/png" srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x">
                <img src="images/ipad@1x.png" alt="image of Charts with memory balance and Power of computer" class="starter__image">
            </picture>
            <div class="media-panel">
                <div class="media-container">
                    <div class="media-image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/Icons/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media-body">
                        <h3 class="media-header">Easy Start & Managed Updates</h3>
                        <p class="media-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique 
                                assumenda vero eius deleniti modi delectus aliquam expedita harum iure illum?</p>
                    </div>
                </div>
                <div class="media-container">
                    <div class="media-image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/Icons/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media-body">
                        <h3 class="media-header">Easy Start & Managed Updates</h3>
                        <p class="media-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique 
                                assumenda vero eius deleniti modi delectus aliquam expedita harum iure illum?</p>
                    </div>
                </div>
                <div class="media-container">
                    <div class="media-image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/Icons/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media-body">
                        <h3 class="media-header">Easy Start & Managed Updates</h3>
                        <p class="media-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique 
                                assumenda vero eius deleniti modi delectus aliquam expedita harum iure illum?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="js/main.js"></script>



/* CONTROL PANEL BLOCK */

.starter.media-section {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.starter .media-section__container {
    max-width: 1140px;
    margin: 0 auto;
}



.article h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    
}

.media-section .media-header {
    color: #fff;   
}

.media-section .media-body {
    text-align: left;
}

.media-section .media-body p {
    color: #666666;
}

.media-section .media-container {
    padding: 2rem;
}

.media-section .media-panel {
    padding-bottom: 10rem;
    align-content: center;
}

.media-section .grid picture {
    min-width: 570px;
}