<section class="features">
    <div class="grid grid--1x2">
        <div class="features__info">
            <span class="circle-icon">
                <svg class="icon icon--primary">
                    <use xlink:href="images/Icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="features__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo animi dolorem totam rerum unde sed.</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <div class="features__image">
            <picture>
                <source type="image/webp" srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x">
                <source type="image/png" srcset="images/easy@1x.png 1x, images/easy@2x.png 2x">
                <img src="images/easy@1x.png" alt="image of Charts with memory balance and Power of computer" class="starter__image">
            </picture>
        </div>
    </div>
    <div class="grid grid--1x2">
        <div class="features__info">
            <span class="circle-icon">
                <svg class="icon icon--primary">
                    <use xlink:href="images/Icons/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="features__heading">Simple fast websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo animi dolorem totam rerum unde sed.</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <div class="features__image">
            <picture>
                <source type="image/webp" srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x">
                <source type="image/png" srcset="images/fast@1x.png 1x, images/fast@2x.png 2x">
                <img src="images/fast@1x.png" alt="image of Charts with how fast is the servers" class="starter__image">
            </picture>
        </div>
    </div>
    <div class="grid grid--1x2">
        <div class="features__info">
            <span class="circle-icon">
                <svg class="icon icon--primary">
                    <use xlink:href="images/Icons/sprite.svg#settings"></use>
                </svg>
            </span>
            <h3 class="features__heading">WordPress made easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo animi dolorem totam rerum unde sed.</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <div class="features__image">
            <picture>
                <source type="image/webp" srcset="images/wordpress@1x.webp 1x, images/wordpress@2x.webp 2x">
                <source type="image/png" srcset="images/wordpress@1x.png 1x, images/wordpress@2x.png 2x">
                <img src="images/wordpress@1x.png" alt="image of a wordpress template website" class="starter__image">
            </picture>
        </div>
    </div>
    <div class="grid grid--1x2">
        <div class="features__info">
            <span class="circle-icon">
                <svg class="icon icon--primary">
                    <use xlink:href="images/Icons/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="features__heading">24/7 Expert Support</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo animi dolorem totam rerum unde sed.</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <div class="features__image">
            <picture>
                <source type="image/webp" srcset="images/support@1x.webp 1x, images/support@2x.webp 2x">
                <source type="image/png" srcset="images/support@1x.png 1x, images/support@2x.png 2x">
                <img src="images/support@1x.png" alt="image of Support Statistics" class="starter__image">
            </picture>
        </div>
    </div>
</section>